################################################
###############      OS       ##################
################################################
.DS_Store?
.DS_Store
ehthumbs.db
._*
Thumbs.db
*.sw?

################################################
# Local Configurations
################################################

conf/application-production.conf
conf/email.properties

################################################
# Sails.js / Waterline / Grunt / Others
################################################
.tmp
/out

################################################
# IDEs
################################################

/.idea
/.idea_modules

################################################
# Miscellaneous
################################################

# Play 2 Framework
/.settings
/.classpath
/.project
/*.iml
/RUNNING_PID
target
project/project
dist

# The tests are not ready to push to repository
/test
