################################################
###############      OS       ##################
################################################
.DS_Store?
.DS_Store
ehthumbs.db
._*
Thumbs.db
*.sw?

################################################
# Local Configurations
################################################

conf/application-production.conf
conf/email.properties

################################################
# Sails.js / Waterline / Grunt / Others
################################################
.tmp

################################################
# Miscellaneous
################################################

/.idea
/.idea_modules
/.settings
/.classpath
/.project

target
project/project

# The tests are not ready to push to repository
/test
